
<nav class="dropdownmenu">
  <ul>
    <li><a href="/admin/uyeler">Üyeler</a></li>
    <li><a href="/admin/projeler">Projeler</a></li>
    <li><a href="admin/kategoriler">Kategoriler</a>
    <li><a href="admin/siparisler">Siparişler</a>

  </ul>
</nav>




<div class="container">
  <h1>Sipariş Verilen Uygulamalar</h1>
  <div class="items">
    <input id="item1" type="checkbox" checked>
    <label for="item1">Online Butik Uygulaması</label>

    <input id="item2" type="checkbox">
    <label for="item2">Çıkmış Sorular Uygulaması</label>

    <input id="item3" type="checkbox">
    <label for="item3">
      İş İlanları Mobil Uygulama</label>

    <input id="item4" type="checkbox">
    <label for="item4">
      E-ticaret Sitesi Mobil Uygulaması</label>

    <input id="item5" type="checkbox">
    <label for="item5">
      Su Siparişi Uygulaması</label>



    <h2 class="done" aria-hidden="true">Teslim Edilen Uygulamalar</h2>
    <h2 class="undone" aria-hidden="true">Teslim Edilmeyen Uygulamalar</h2>
  </div>
</div>


