<mat-toolbar color="warn">
  <span>{{ dialogBaslik }}</span>
</mat-toolbar>

<div class="container">
  <form [formGroup]="frm">
    <mat-form-field appearance="outline">
      <mat-label>Üye Adı</mat-label>
      <input
        matInput
        placeholder="Üye Adı"
        formControlName="uyeAdi"
        name="uyeAdi"
        required
        type="text"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Üye Soyadı</mat-label>
      <input
        matInput
        placeholder="Üye Soyadı"
        formControlName="uyeSoyadi"
        name="uyeSoyadi"
        required
        type="text"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Üye Kullanıcı Adı</mat-label>
      <input
        matInput
        placeholder="Üye Kullanıcı Adı"
        formControlName="uyeKullaniciAdi"
        name="uyeKullaniciAdi"
        required
        type="text"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Üye Şifre</mat-label>
      <input
        matInput
        placeholder="Üye Şifre"
        formControlName="uyeSifre"
        name="uyeSifre"
        required
        type="text"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Üye Telefonu</mat-label>
      <input
        matInput
        placeholder="Üye Telefonu"
        formControlName="uyeTelefon"
        name="uyeTelefon"
        required
        type="text"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Üye Mail Adresi</mat-label>
      <input
        matInput
        placeholder="Üye Mail Adresi"
        formControlName="uyeEposta"
        name="uyeEposta"
        required
        type="text"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Üye Yetki</mat-label>
      <input
        matInput
        placeholder="Üye Yetki"
        formControlName="uyeYetki"
        name="uyeYetki"
        type="number"
      />
    </mat-form-field>
  </form>

  <button
    mat-stroked-button
    color="warn"
    [disabled]="frm.invalid"
    (click)="dialogRef.close(frm.value)"
  >
    Kaydet</button
  >&nbsp;
  <button mat-stroked-button color="warn" (click)="dialogRef.close()">
    İptal
  </button>
</div>
