<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false" >
      <div class="example-button-container"></div> <br>
      <div id="logo">
        <a href="/anasayfa">
            <img src="assets/logo.png" width="200" height="75" alt="">
        </a>
    </div>


    <mat-nav-list>

<br>
      <a mat-list-item [routerLink]="['anasayfa']">Anasayfa</a>
      <a mat-list-item [routerLink]="['hakkimizda']">Hakkımızda</a>
      <a mat-list-item *ngFor="let kat of kategoriler">{{kat.katAdi}}  ({{kat.katProjeSay}})</a>


    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="warn" class="mat-elevation-z8">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <span>KeroBilgisayar - Mobil Uygulama Hizmeti</span>
      <span class="spacer"></span>


      <button mat-raised-button color='link' [routerLink]="['/login']" *ngIf="!apiServis.oturumKontrol()" style="margin-left: auto;">Giriş Yap</button>&nbsp;
      <button mat-raised-button color='link' [routerLink]="['/uye']" *ngIf="apiServis.oturumKontrol()" style="margin-left: auto;">{{kadi}}</button>&nbsp;
      <button mat-raised-button color='link' matTooltip='Üye Ol' (click)="Ekle()" *ngIf="!apiServis.oturumKontrol()">Kayıt Ol</button>


      <button mat-button [matMenuTriggerFor]="menu" *ngIf="apiServis.oturumKontrol()">
        <mat-icon>build</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/admin']">Admin Paneli</button>
        <button mat-menu-item [routerLink]="['admin/uyeler']">Üyeler</button>
        <button mat-menu-item [routerLink]="['admin/projeler']">Projeler</button>
        <button mat-menu-item [routerLink]="['admin/kategoriler']">Kategoriler</button>
        <button mat-menu-item [routerLink]="['admin/siparisler']">Siparişler</button>
        <button mat-menu-item (click)="OturumKapat()" *ngIf="apiServis.oturumKontrol()">Çıkış Yap</button>
      </mat-menu>

    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


