<mat-toolbar color="primary" class="mat-elevation-z6">
  <span>Görsel Güncelle</span>
</mat-toolbar>

<div class="container">

  <div *ngIf="secProjeler">
    <h3><b>Proje Id : </b> {{secProjeler.projeId}} <b>Proje Adı : </b>{{secProjeler.projeAdi}} </h3>
    <img [src]="apiServis.siteUrl +'/Dosyalar/'+ secProjeler.projeGorsel" style="width: 100px;" />
  </div>

  <input type="file" hidden="true" #foto (change)="GorselSec($event)" onclick="this.value=null">
  <button mat-stroked-button color="warn" (click)="foto.click()" accept=".jpg,.png">Görsel Seçiniz</button>

  <p>&nbsp;</p>

  <img [src]="secilenGorsel" style="width: 250px;" />

  <p>&nbsp;</p>

  <button mat-raised-button color="warn" (click)="dialogRef.close(projelergorsel)" [disabled]="!secilenGorsel">Kaydet</button>&nbsp;
  <button mat-raised-button color="warn" (click)="dialogRef.close()" >İptal</button>

</div>
