<div class="about-section">
  <div class="inner-container">
    <h1>KeroBilgisayar Hakkında</h1>
    <p class="text">
      KeroBilgisayar çok kolay Mobil Uygulama geliştirme ve Yönetme platformudur. Bu platform ile işletmeler ve bireyler birkaç saat içerisinde hazırladığı iPhone ve Android uygulamalarını yayınlamak üzere gönderebilir. KeroBilgisayar'ın Web arayüzü ile çözüm odaklı lokasyon/iletişim, indirim kuponları, video, audio, resimler, RSS besleme, Twitter/Facebook vs. gibi hazır modüller bulunur. Sürükle bırak yapısı ile platform kullanıcılara kolaylıkla Mobil Uygulamalarını kodlama bilmeden geliştirmeyi sağlar.
    </p>
    <div class="skills">
      <span>Android Uygulamaları</span>
      <span>iOS Uygulamaları</span>
      <span>Web Site Tasarımları</span>
    </div>
  </div>
</div>
